<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>Error</h1>
    <p id="errorMessage"></p>

    <script>
        // Extract the error message from the URL query parameter
        var urlParams = new URLSearchParams(window.location.search);
        var errorMessage = urlParams.get('message');

        // Display the error message
        var errorMessageElement = document.getElementById('errorMessage');
        errorMessageElement.textContent = errorMessage;
    </script>
</body>
</html>
