<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="gmot.css"></link>
    <title>GMOT Client UI</title>
    <style>
        .error-message {
            color: red;
            font-size: 12px;
            margin-top: 5px;
        }
    </style>
    <script>
        function handleSubmit(event) {
            event.preventDefault();

            var client = document.getElementById("client").value;
            var clientCommissionTolerance = document.getElementById("commission").value;
            var clientGrossAmountTolerance = document.getElementById("gross_amount").value;

            // If no errors, submit the form
            event.target.submit();
        }
        function confirmSave() {
        document.getElementById("saveButton");
        var choice = confirm("Are the configuration details correct? Do you want to save it?");
        if (choice == true) {
            console.log("config saved.")
        } else {
            console.log("config not saved.")
        }

        function approve() {
        document.getElementById("approval");
        var choice = confirm("Approve this configuration change?");
        if (choice == true) {
            console.log("config saved.")
        } else {
            console.log("config not saved.")
        }
    }
}
    </script>
</head>

<body>
    <div class="div1" id="welcomeMsg">
        <h1> Welcome to Your Client Config! </h1>
    </div>

    <div class="div1" id="header1">
        <h1> Input/Update Details </h1>
    </div>
    <form class="div2" action="http://localhost:5501" method="post" align="center" onsubmit="handleSubmit(event)">
        <label for="client">Client:</label>
        <select name="client" id="client">
            <option value="Default">--------- NULL ---------</option>
            <option value="abc">ADMIN</option>
            <option value="def">BOFA</option>
            <option value="ghi">CODING</option>
          </select> <br><br>
        <!-- <input type="text" name="client" id="client"><br> -->

        <label for="commission">Commission Tolerance:</label>
        <input type="text" name="commission" id="commission"><br><br>

        <label for="gross_amount">Gross Amount Tolerance:</label>
        <input type="text" name="gross_amount" id="gross_amount"><br><br>

        <input type="submit" value="Submit" onclick="confirmSave">
    </form>

    <div class="div1" id="header2">
        <h2> Configuration History </h2>
    </div>

    <div class="div3">
        <table id="portfolioTable">
            <tr> 
                <th> S.No </th> 
                <th> Client </th>
                <th> Commission Tolerance </th>
                <th> Gross Amt Tolerance </th>
                <th> Last Updated </th>
                <th> Submitted by </th>
                <th> Status </th>
                <th> Approval </th>
            </tr>
            <tr> 
                <td> 01 </td>
                <td> ADMIN </td>
                <td> 8.8 </td>
                <td> 100 </td>
                <td> 11/05/2023 </td>
                <td> admin111 </td>
                <td> Pending Approval </td>
                <td> <button type="approval" value="Approval" onclick="approve"> Approve </button> </td>
            </tr>
            <tr> 
                <td> 02 </td>
                <td> ADMIN </td>
                <td> 20 </td>
                <td> 101 </td>
                <td> 10/05/2023 </td>
                <td> admin111 </td>
                <td> Approved </td>
                <td> admin123 </td>
            </tr>
        </table>
    </div>
</body>
</html>
