<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
</head>
<body>
    <form action="http://localhost:5501" method="post">
        <label for="client">Client:</label>
        <input type="text" name="client" id="client"><br>

        <label for="commission">Commission:</label>
        <input type="text" name="commission" id="commission"><br>

        <label for="gross_amount">Gross Amount:</label>
        <input type="text" name="gross_amount" id="gross_amount"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
