<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="gmot.css"></link>

    <title>Sign Up</title>
</head>

<body>
    <div class="div1" id="login">
        <h1> Sign Up Page </h1>
    </div>

    <div class="div2" align="center">
        <form id="signup">
              <label for="name"> Name: </label>
              <input type="text" id="name" required="" placeholder="Enter Name">  <br><br>
              <label for="userEmail"> Email: </label>
              <input type="text" id="userEmail" required="" placeholder="user@gmail.com">  <br><br>
              <label for="userPassword"> Password: </label>
              <input type="Password" id="userPassword" required="" placeholder="Enter Password">  <br><br>
              <label for="userPassword2"> Type Password Again: </label>
              <input type="Password" id="userPassword2" required="" placeholder="Confirm Password">  <br><br>
              <button id="signupButton" onclick="signUp()"> Sign Up </button> <br><br>        
          </form>       
      </div>  

</html>